<script type="text/javascript" src="../javascripts/datepicker.js"> </script>
<h1><%= injixo_logo %>Forecast request - create</h1>

<%= form_for @forecastrequest,  :multipart => true  do |f| %>

<table class="results">
<tr>
<td class = "round dataarea" width=350>
  <div class="field">
    <b>Email:</b><br />
    <%= f.text_field :email %>
	</div>
  <div class="field">
    <b>Time range:</b><br />
	<%= f.text_field :startdate, :size => 10 %>
	<%= add_datepicker("startdate") %>
    <%= f.text_field :enddate , :size => 10 %>
	<%= add_datepicker("enddate") %>
  </div>

  <div class="field">
    <b>Interval:</b><br />
    <%= f.radio_button :interval, "15"  %>15 Minutes<br/>
    <%= f.radio_button :interval, "30"  %>30 Minutes<br/>
    <%= f.radio_button :interval, "60"  %>60 Minutes<br/>
  </div>
</td>
  <td class = "round dataarea"width=350>
    <div class="field">
      <b>Historical data:</b><br />
      <%= f.text_area :data %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </td>
  <td class = "round dataarea" width=350>
    <b>Result:</b><br />
	Press submit to send the historical data to the Prediction Engine. 
	The PE will generate a forecast based on the given data and return this data.
  </td>
</table>
  
<% end %>

<%= link_to 'Back', root_path %>
