<script type="text/javascript" src="../javascripts/datepicker.js"> </script>
<h1>Forecast request - create</h1>

<%= form_for @forecastrequest,  :multipart => true  do |f| %>

<table class="results">
<tr>
<td class = "round dataarea" width=350>
  <div class="field">
    <b>Email:</b><br />
    <%= f.text_field :email %>
	</div>
  <div class="field">
    <b>Time range:</b><br />
    <%= f.text_field :startdate, :size => 10 %>
 <a href="#" onclick="displayDatePicker('forecastrequest[startdate]',this,'mdy','/');"><img src='images/datepickerpopup.gif'/></a>
    <%= f.text_field :enddate , :size => 10 %>
 <a href="#" onclick="displayDatePicker('forecastrequest[enddate]',this,'mdy','/');"><img src='images/datepickerpopup.gif'/></a>
  </div>

      <div class="field">
    <b>Interval:</b><br />
    <%= f.radio_button :interval, "15"  %>15 Minutes<br/>
    <%= f.radio_button :interval, "30"  %>30 Minutes<br/>
    <%= f.radio_button :interval, "60"  %>60 Minutes<br/>
  </div>
  </td>
  <td class = "round dataarea"width=350>
      <div class="field">
  <b>Historical data:</b><br />
  <%= f.text_area :data %>
</div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  </td>
<td class = "round dataarea" width=350>
  <b>Result:</b>
</td>
  </table>
  
<% end %>

<%= link_to 'Back', root_path %>
