<h1><%= injixo_logo %>Forecast request - result</h1>
<p id="notice"><%= notice %></p>

<table class="results">
<tr>
<td class = "round dataarea" width=350>
  <%= render 'showinput' %>
</td>
<td class = "round dataarea" width=350>
  <%= render 'showinpdata' %>
</td>
<td class = "round dataarea" width=350>
  <%= render 'showoutputdata' %>
</td>
</tr>
</table>

<%= link_to 'Back', forecastrequests_path %>
